<nav class="navbar navbar-expand-lg fixed-top bg-danger">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/wine/home']" [queryParams]="{page: 0,size: 3}">WineWiki</a>
    <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
            (click)="sidebarToggle()">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="jobs-dropdown-button" ngbDropdownToggle>Your Winery</a>
            <div ngbDropdownMenu id="jobs-dropdown-menu" aria-labelledby="jobs-dropdown-button"
                 class="dropdown-primary">
              <a [routerLink]="['/wine/getbyuser', app.localStorageItem('username')]" class="dropdown-item">
                <i class="nc-icon nc-icon nc-planet"></i>
                Look at your wines
              </a>
              <a [routerLink]="['/wine/create']" class="dropdown-item">
                <i class="nc-icon nc-icon nc-planet"></i>
                Add wine
              </a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="home-dropdown-button" ngbDropdownToggle>Browse</a>
            <div ngbDropdownMenu id="home-dropdown-menu" aria-labelledby="home-dropdown-button"
                 class="dropdown-primary">
              <a [routerLink]="['/vine/home']" [queryParams]="{page: 0,size: 3}" class="dropdown-item">
                <i class="nc-icon nc-icon nc-planet"></i>
                Wineries
              </a>
              <a [routerLink]="['/wine/home']" [queryParams]="{page: 0,size: 3}" class="dropdown-item">
                <i class="nc-icon nc-icon nc-planet"></i>
                Wines
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="dropdown image-dropdown">
            <div class="nav-link navbar-brand" ngbDropdownToggle>
              <div class="profile-photo-small">
                <img [src]="'data:image/jpg;base64,'+app.localStorageItem('picture')" alt="Circle Image"
                     class="img-circle img-responsive img-no-padding">
              </div>
            </div>
            <div ngbDropdownMenu id="profile-dropdown"
                 class="dropdown-menu dropdown-menu-right dropdown-wide dropdown-danger">
              <div class="dropdown-header">Profile</div>
              <a class="dropdown-item" [routerLink]="['/profile', app.localStorageItem('username')]">
                <i class="nc-icon nc-single-02"></i>
                {{app.localStorageItem("firstname")}} {{app.localStorageItem("lastname")}}
                Overview
              </a>
              <a class="dropdown-item" [routerLink]="['/profile/edit', app.localStorageItem('username')]">
                <i class="nc-icon nc-settings"></i>
                Edit Profile
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" *ngIf="app.localStorageItem('personId') !== ''">
                <a [routerLink]="['/login']">
                  <i class="nc-icon nc-lock-circle-open"></i>
                  Log Out
                </a>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
